@import "normalize.css";
body, div, span {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;
  border: 0 solid black;
  margin: 0;
  padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}
li,ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
.container{
  height: 100%;
  flex-direction:row;
  background-color: rgba(2,112,207,1);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 24px;
}
.hubei-left{
  flex:19 1 0;
  align-self:stretch;
  background-color: rgba(2,112,207,1);
  padding-top: 10%;
  overflow: hidden;
}
.hubei-left ul .icon{
  position: absolute;
  left: 10%;
  top: 22%;
}
.search-pad{
  position: relative;
  text-align: right;
}
.search-pad .icon-search{
  position: absolute;
  right: 13%;
  top: 22%;
}
.search-pad-input{
    align-self:center;
    width: 64px;
    outline: none;;
    border: 0px;
    padding: 10px 40px 10px 20px;
    background: #1389ee;
    border-radius:5%;
}
.hubei-left li.active{
  background: #1389ee;
}
.hubei-left li{
  padding-left: 35%;
  position: relative;
  line-height: 58px;
  height: 58px;
  font-size: 16px;
}

.hubei-right{
  flex:109 1 0;
  align-self:stretch;
  color: #333;
  background-color: rgba(255,255,255,1);
}
/*fouce*/

.yx-rotaion {
    overflow: hidden
}

.yx-rotaion-btn,.yx-rotaion-title,.yx-rotation-focus,.yx-rotation-t,.yx-rotaion-btn {
    position: absolute
}

.yx-rotation-title {
  color: #fff;
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #000;
    opacity: 0.4;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

.yx-rotation-t {
    color: #fff;
    font-size: 16px;
    z-index: 2;
    bottom: 0;
    left: 10px;
    line-height: 40px;
     text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 95%;
}

.yx-rotation-t a{
  color: #fff;
}

.yx-rotation-focus span,.yx-rotaion-btn span {
    background: url("http://www.jurong.gov.cn/xhtml/images/focus/ico.png") no-repeat;
    display: block
}

.yx-rotation-focus {
    display: none;
    height: 40px;
    line-height: 40px;
    right: 20px;
    bottom: 0;
    z-index: 2
}

.yx-rotation-focus span {
    width: 12px;
    height: 12px;
    line-height: 12px;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 14px;
    cursor: pointer;
    background-position: -24px -126px;
    text-indent: -9999px
}

.yx-rotaion-btn {
    width: 100%;
    height: 41px;
    top: 50%;
    margin-top: -20px
}

.yx-rotaion-btn span {
    width: 41px;
    height: 41px;
    cursor: pointer;
    opacity: 0.3;
    position: relative
}

.yx-rotaion-btn .left_btn {
    background-position: -2px -2px;
    float: left;
    left: 10px
}

.yx-rotaion-btn .right_btn {
    background-position: -2px -49px;
    float: right;
    right: 10px
}

.yx-rotaion-btn span.hover {
    opacity: 0.8
}

.yx-rotation-focus span.hover {
    background-position: -10px -126px
}

.rotaion_list {
  height: 285px;
    overflow: hidden
}

.hubei-right-bannar{
  flex:15 1 0;
}
.hubei-right-content{
  flex:81 1 0;
  flex-direction:row;
  padding-top: 30px;
}
.hubei-right-content-left{
  padding-left: 25px;
}
.hubei-xxgk{
  padding-top: 20px;
}
.xxgk-list-title-pad ul{
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
}
.xxgk-list-title-pad li{
  width: 32%;
  margin-top: 15px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #d4ebff;
  margin-right: 2%;
}
.xxgk-list-title-pad li.active{
  background: rgba(2,112,207,1);
}
.xxgk-list-title-pad li.active a{
  color: #fff;
}
.xxgk-list-title-pad li:nth-child(3n){
  margin-right: 0%;
}
.xxgk-list-title-pad li a{
  color: #004b8b;
}
.xxgk-title-pad{
  font-size: 22px;
  color: #1884d9;
  padding-bottom: 15px;
  border-bottom: solid 1px #ccc;
}
.xxgk-list-pad{
  margin-top: 24px;
}
.tab-pad{
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
}
.tab-pad li.active{
  border: solid 1px #ccc;
  background: #fff;
  height: 37px;
  border-bottom: solid 1px #fff;
}

.tab-pad li:nth-child(1){
  margin-left: 3%;
}
.tab-pad li{
  display: inline-block;
  padding: 0 10px;
}
.xxgk-list-pad .list-pad li{
  line-height: 34px;
}
.xxgk-list-pad .list-pad li a{
  color: #333;
}
.hubei-right-content-right{
  flex:56 1 0;
  padding-left: 20px;
}
.news-pad a{
  color: #333;
}
.news-pad .title-tab{
  flex-direction:row;
  border-bottom: solid 1px #ccc;
}
.news-pad .title-tab a{
  line-height: 40px;
  height: 40px;
  font-size: 22px;
  padding: 0px 10px;
}
.news-pad .title-tab a:nth-child(1){
  color: #1884d9
}





