@import "normalize.css";
body, div, span {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;
  border: 0 solid black;
  margin: 0;
  padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}
li,ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
.container{
  height: 100%;
  flex-direction:row;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 24px;
}
.hubei-left{
  flex:19 1 0;
  align-self:stretch;
  background-color: rgba(2,112,207,1);
  padding-top: 120px;
  overflow: hidden;
}
.hubei-left ul .icon{
  position: absolute;
  left: 10%;
  top: 22%;
}
.search-pad{
  position: relative;
  text-align: right;
}
.search-pad .icon-search{
  position: absolute;
  right: 13%;
  top: 22%;
}
.search-pad-input{
    align-self:center;
    width: 64px;
    outline: none;;
    border: 0px;
    padding: 10px 40px 10px 20px;
    background: #1389ee;
    border-radius:5%;
}
.hubei-left li.active{
  background: #1389ee;
}
.hubei-left li{
  padding-left: 35%;
  position: relative;
  line-height: 58px;
  height: 58px;
  font-size: 16px;
}
.hubei-right{
  flex:109 1 0;
  align-self:stretch;
  color: #333;
  background-color: rgba(255,255,255,0.3);
}
.hubei-right-bannar{
  flex:15 1 0;
}
.hubei-right-content{
  flex:81 1 0;
  flex-direction:row;
}
.hubei-right-content-left{
  padding-top: 30px;
  padding-left: 25px;
}
.hubei-right-content-right{
  flex:56 1 0;
}




